// out: ../css/permanent.css
@import "colors.less";

.permanent {
  margin: 3% auto 0px auto;
  max-width: 900px;

  .explorer {
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: @background;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    border-radius: 3px;
    font-weight: 400;

    .list-header {
      display: flex;
      padding: 10px 0px;
      background-color: #222222;
      .path {
        color: @font;
        flex-grow: 1;
        margin: auto 15px;
        text-align: start;
        font-size: 22px;
      }
      .control-buttons {
        flex-grow: 0;
        display: flex;
        .control-button {
          display: block;
          background: transparent;
          margin: auto 5px;
          padding: 0px 7.5px;
          cursor: pointer;
          img {
            filter: invert(0.7);
            transition: all 0.2s ease-out;
          }
          &:last-child {
            margin-right: 5px;
          }
          &.active {
            img {
              filter: invert(0.5);
            }
            &:hover {
              img {
                filter: invert(0.0);
              }
            }
          }
        }
      }
    }
    .main {
      display: flex;
      height: 100%;
      padding: 10px 0px;
      font-size: 20px;
      background-color: @secondary;

      .navbar {
        flex-grow: 0;
        width: 200px;
        padding: 0px 5px 0px 15px; //why
        border-right: 1px solid @border;
        overflow-y: scroll;
        overflow-x: hidden;
        .favourites {
          border-bottom: 1px solid @border;
          margin-bottom: 5px;
          padding-bottom: 5px;
          .favourites-title {
            padding: 5px 0px;
            color: @font-weak;
            transition: all 0.2s ease-out;
            &.active {
              color: @font;
            }
            &:hover {
              color: @font;
            }
          }
        }
        .accordeon-title {
          margin: 5px 0px;
          color: @font-weak;
          transition: all 0.2s ease-out;
          &.active {
            color: @font;
          }
          &:hover {
            color: @font;
          }
        }
        .file-title {
          padding: 5px 0px;
          text-align: start;
          color: @font-weak;
          transition: all 0.2s ease-out;
          overflow-x: hidden;
          white-space: nowrap;
          &.active {
            color: @font;
          }
          &:hover {
            color: @font;
          }
        }
        .accordeon {
          display: flex;
          flex-direction: column;
          .accordeon-head {
            display: flex;
            cursor: pointer;
            .dropdown-button {
              background-color: transparent;
              cursor: pointer;
              .dropdown-icon {
                width: 20px;
                height: 20px;
                transition: all 0.1s ease-out;
                &.active {
                  transform: rotate(180deg);
                }
              }
            }
          }
          .accordeon-body {
            display: none;
            &.active {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
      .hierarchy {
        flex-grow: 1;
        padding: 0px 10px;
        .current-folder-list {
          margin: 0px;
          .folder-list-el {
            display: flex;
            padding: 6px 15px;
            margin: 1px 0px 0px 0px;
            border-radius: 3px;
            font-size: 20px;
            transition: all 0.2s ease-out;
            &.active {
              background: @primary;
              &:hover {
                background: @primary-light;
              }
            }
            &:hover {
              background: @primary;
            }
            .el-icon {
              flex-grow: 0;
              margin: auto 25px auto 0px;
              width: 25px;
              height: 25px;
            }
            .el-name {
              flex-grow: 0;
              color: @font-weak;
              cursor: pointer;
              text-align: start;
            }
            .el-capacity {
              flex-grow: 1;
              text-align: end;
              font-size: 75%;
              margin: auto;
              color: @font-weak;
            }
          }
        }

        .new-folder {
          display: flex;
          padding: 6px 15px;
          margin: 1px 0px 0px 0px;
          border-radius: 3px;
          font-size: 20px;
          background: @primary;
          box-sizing: border-box;
          transition: all 0.2s ease-out;
          &:hover {
            background: @primary-light;
          }
          .el-icon {
            flex-grow: 0;
            margin: auto 25px auto 0px;
            width: 25px;
            height: 25px;
          }
          .el-name {
            flex-grow: 0;
            color: @font-weak;
            cursor: pointer;
            text-align: start;
          }
          .el-capacity {
            flex-grow: 1;
            text-align: end;
            font-size: 75%;
            margin: auto;
            color: @font-weak;
          }
          .el-input {
            flex-grow: 0;
            background: transparent;
            font-size: 20px;
            color: @font-weak;
            cursor: pointer;
            text-align: start;
            padding-bottom: 1px;
            border-bottom: 1px solid @border;
            // ::-webkit-input-placeholder { /* Edge */
            //   color: red;
            // }
            
            // :-ms-input-placeholder { /* Internet Explorer 10-11 */
            //   color: red;
            // }
          }
        }
      }
    }
  }
}