.header {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.header .logo-box {
  margin-right: 25px;
}
.header .logo-box .logo {
  width: 50px;
  height: 50px;
}
.header .locations {
  display: flex;
}
.header .locations .location {
  cursor: pointer;
  background-color: transparent;
  color: #ADADAD;
  font-size: 20px;
  padding: 5px 7.5px;
  margin: auto 5px;
  border-radius: 3px;
  transition: all 0.2s ease-out;
}
.header .locations .location:hover {
  color: #FFFFFF;
}
.header .locations .location.active {
  color: #212121;
  background-color: #FFFFFF;
}
